.header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 5px;
  margin: 20px 20px 0 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 10px;
}

.navButton {
  background-color: #4caf50;
  border: none;
  padding: 10px 15px;
  color: #282c34;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #45a049;
}
